<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>JVP Music</title>
  </head>
  <body>
    <header>
      <h1>JVP MUSIC</h1>
      <img src="#" alt="JVP Music Logo" />
    </header>
    <form class="search" id="searchForm">
      <input
        type="text"
        placeholder="Favorite song, artist, or album"
        id="searchQuery"
        class="searchBar"
      />
      <button type="submit" class="searchButton">Search</button>
    </form>
    <script src="{{ url_for('static', filename='javascript/app.js') }}"></script>
  </body>
</html>
